spring:
  config:
    import: optional:file:.env[.properties]
  application:
    name: SuperviseSuite Backend
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
  flyway:
    enabled: true
    baseline-on-migrate: true
server:
  port: ${APP_PORT}
