<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{email/base-layout :: layout(~{::body}, 'Reset your password', 'Reset Password', ${resetUrl}, 'primary')}">
<body>
<p style="margin:0 0 16px 0;">Hi <strong th:text="${name}">User</strong>,</p>
<p style="margin:0 0 16px 0;">We received a request to reset your SuperviseSuite password.</p>
<p style="margin:0 0 16px 0;">If you made this request, use the button below to set a new password. This link expires in 15 minutes and can only be used once.</p>
<p style="margin:0;">If you did not request a password reset, you can ignore this email.</p>
</body>
</html>
